@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 100%;
}

.nav-bar{
    background-color: white;
    overflow: hidden;
    border: solid gray;
    border-width: 0;
    border-bottom-width: 2px;
}

.nav-item{
    display: flex;
    list-style: none;
    cursor: pointer;
    /* background: #FF416C; */
    color: #fc5296;
    /* right: -20px; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px;
    transform: skew(-30deg);
    float: right;
    transition: all 0.5s;
}

.nav-item:hover{
    color: white;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

.nav-item > span{
    transform: skew(30deg);
}


#logo{
    width: 100px;
    position: relative;
    left: -20px;
    padding-left: 80px;
    float: left;
    color: white;
    transform: skew(-30deg);
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

#logo > img{
    transform: skew(30deg);
}



h1,h4,h2,h3,h5,h6{
    font-weight: lighter;
}

.active{
    color: white;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

h2{
    margin-top: 30px;
}

.shw
{
    border-radius: 10px;
    width: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.details
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head
{
    color: rgb(0, 0, 82);
    font-size: 30px;
    height: 100px;
    display: flex;
    width: 100%;
}

.acc
{
    color: rgb(0, 0, 82);
    font-size: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lab
{
    font-size: 18px;
}

.inp-ch
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px;
    height: auto;
}

.inp
{
    padding: 10px;
    border-radius: 10px;
}

.btn
{
    margin-left: 20px;
    padding: 10px 15px;
    border: 2px solid #ff0066;
    background-color: rgba(252, 82, 150, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.btn:hover
{
    background-color: rgba(255, 0, 102, 0.5);
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}

.table
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.line
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 10px;
    gap: 20px;
    border-bottom: 2px solid gray;
    padding: 10px;
}