@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: gray; */
    background: linear-gradient(315deg, rgba(252, 82, 150, 0.6) 40%, rgba(246, 113, 98, 0.6) 60%);
}


.nav-bar{
    background-color: white;
    overflow: hidden;
    border: 2px solid #fc5296;
    border-width: 0;
    border-bottom-width: 2px;
}

.nav-item{
    display: flex;
    list-style: none;
    cursor: pointer;
    /* background: #FF416C; */
    color: #fc5296;
    /* right: -20px; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px;
    transform: skew(-30deg);
    float: right;
    transition: all 0.5s;
}

.nav-item:hover{
    color: white;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

.nav-item > span{
    transform: skew(30deg);
}


#logo{
    width: 100px;
    position: relative;
    left: -20px;
    padding-left: 80px;
    float: left;
    color: white;
    transform: skew(-30deg);
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

#logo > img{
    transform: skew(30deg);
}

.foot {
    margin-top: 50px;
    width:100%;
    height: 90px;
    background-color: #fc5296;
    /* margin-top: 500px; */
}

.elem-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

h2{
    margin-top: 30px;
}

.elements{

    /* display: flex; */
    /* flex-wrap: wrap; */
    /* float: left; */
    background: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: 40%;
    max-height: 500px;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* background: aqua; */
}

h1,h4,h2,h3,h5,h6{
    font-weight: lighter;
}

.active{
    color: white;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

@media only screen and (max-width: 700px) {
    .elements{
        /* height: 500px; */
        margin-right: 10px;
        margin-left: 10px;
    }
}

