@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.container
{
    width: 100%;
}



.nav-bar{
    background-color: white;
    overflow: hidden;
    border: 2px solid #fc5296;
    border-width: 0;
    border-bottom-width: 2px;
}

.nav-item{
    display: flex;
    list-style: none;
    cursor: pointer;
    /* background: #FF416C; */
    color: #fc5296;
    /* right: -20px; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px;
    transform: skew(-30deg);
    float: right;
    transition: all 0.5s;
}

.nav-item:hover{
    color: white;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

.nav-item > span{
    transform: skew(30deg);
}


#logo{
    width: 100px;
    position: relative;
    left: -20px;
    padding-left: 80px;
    float: left;
    color: white;
    transform: skew(-30deg);
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

#logo > img{
    transform: skew(30deg);
}

.foot
{
    height: 100px;
    background: #ff418d;
    width: 100%;
    margin-top: 50px;
}

.elem-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.hidden{
    display: hidden;
}

h2{
    margin-top: 30px;
}

.elements{

    /* display: flex; */
    /* flex-wrap: wrap; */
    /* float: left; */
    margin-left: 40px;
    margin-right: 40px;
    width: 40%;
    max-height: 500px;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* background: aqua; */
}

h1,h4,h2,h3,h5,h6{
    font-weight: lighter;
}

.active{
    color: white;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

@media only screen and (max-width: 700px) {
    .elements{
        /* height: 500px; */
        margin-right: 10px;
        margin-left: 10px;
    }
}


#sub{
    margin-left: 30px;
    height: 25px;
    margin-top: 10px;
    width: 100px; 
    border-radius: 10px;
    border: solid red;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}


.alert-warning{
	color:black;
	background-color:red;
	border-color:#ebccd1;
	/* width: 50px; */
	height: min-content;
	position: relative;
	/* top: -15px; */
	width: 100%;
	justify-content: center;
}

.alert-success{
    color:black;
	background-color:green;
	border-color:#ebccd1;
	/* width: 50px; */
	height: min-content;
	position: relative;
	/* top: -15px; */
	width: 100%;
	justify-content: center;
}

.alert-warning hr{
	border-top-color:#f7e1b5
}

.notify
{
    color: white;
    font-size: 20px;
}




.shw
{
    border-radius: 10px;
    width: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.details
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-form
{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head
{
    color: rgb(0, 0, 82);
    font-size: 30px;
    height: 100px;
    display: flex;
    width: 100%;
}

.acc
{
    color: rgb(0, 0, 82);
    font-size: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lab
{
    font-size: 18px;
}

.inp-ch
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px;
    height: auto;
}

.inp
{
    padding: 10px;
    border-radius: 10px;
}

.btn
{
    margin-left: 20px;
    padding: 10px 15px;
    border: 2px solid #ff0066;
    background-color: rgba(252, 82, 150, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.btn:hover
{
    background-color: rgba(255, 0, 102, 0.5);
    cursor: pointer;
}